@primaryColor: #5468FF;
@textColor: #344356;
@textLightColor : #778EA2;
@assistColor : #C4C9CF;
@dialogTextColor: @textColor;
@buttonBgColor: rgba(84, 104, 255, 0.1);
@tradeBgColor : rgba(84, 104, 255, 0.3);
@mainBgColor: #F3F5F9;
@warningColor: #FFA12E;
@dangerColor: #FF4646;