@primaryColor: #5468FF;
@textColor: #344356;
@textLightColor: #778EA2;
@assistColor: #C4C9CF;
@dialogTextColor: @textColor;
@buttonBgColor: rgba(84, 104, 255, 0.1);
@tradeBgColor: rgba(84, 104, 255, 0.3);
@mainBgColor: #F3F5F9;
@warningColor: #FFA12E;
@dangerColor: #FF4646;
@darkNavBg: #081736;
// wc means wulicode
:root {
	--wc-color-blue: #2B99E1;
	--wc-color-light-blue: #34B7FF;
	--wc-color-dark-blue: #102B64;
	--wc-color-cyan: #30C099;
	--wc-color-light-cyan: #39DBB6;


	--wc-bg-color: @mainBgColor;

	// color
	--wc-header-border-color: var(#E1EDFF);

	--wc-nav-bg-color: @darkNavBg;
}



